body{
    font: 12px Arial;
    margin: 0;
}
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14abf1;
    position: fixed;
    top: 0;
    width: 100%;
}
#menu li{
    float: left;
}
#menu li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
#menu li a:hover{
    color: #FFF;
    background-color: #0d8ac4;
}
.dropdown ul{
    list-style: none;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    transition: 0.5s;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(236, 224, 224, 0.568);
}
.dropdown li{
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
.dropdown li a{
    color: #fff;
    text-decoration: none;
}
.dropdown li{
    clear: both;
    width: 100%;
}
.dropdown li:hover, 
.dropdown li:focus-within{
        background-color: #0d8ac4;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
}
 #menu li:hover>ul,
 #menu li:focus-within>ul, 
 .dropdown li:hover, 
 .dropdown li:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}

h1{
    font-size: 30px;
    text-align: center;
}
form{
    font-family: "Times new roman";
    margin: 0 auto;
    padding: 1em;
    width: 350px;
    border: 1px solid rgb(19, 4, 4);
    background-color: #14abf1;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
    
}
input{
    width: 100px;
    border-width: 1px;
}
::placeholder{
    font-family: "Times New Roman";
    font-size: 11px;
}
li{
    list-style: none;
}
form input:required:valid{
    border-color: green;
}
form input:required:invalid{
    border-color: red;
}
.button {
    border: none;
    border-radius: 5px;
    height: 30px;
    outline: none;
    background-color: #2284e0;
    color: #fff;
    font-family: "Times New Roman";
    font-size: 10px;
    box-shadow: 2px 2px #808080	;
    cursor: pointer;
}
.button:hover{
    background-color: #176381;
}
.button:active{
    background-color: #0d8ac4;
    box-shadow: 0 4px #4F4F4F	;
    transform: translateY(2px);
}
section{
    margin: 5px;
}
